@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}

body {
  font-family: "Pt Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;

  margin: 0;
  background-color: #f2f2f2;
  height: 100%;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
}

.logo-link {
  width: 140px;
  margin-right: 28px;
  position: relative;
  align-self: flex-start;
}

.logo-link img {
  position: absolute;
  left: 0;
  z-index: 1;
}

.navigation ul {
  list-style-type: none;
}

.navigation-list {
  max-width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-current {
  position: relative;
}

.navigation-current::before {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.navigation-list .navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  display: block;
  padding: 20px 16px;
  min-width: 100px;
  min-height: 64px;
}

.navigation-list .navigation-link:hover {
  background-color: #f2f2f2;
}

.navigation-list .navigation-link:focus {
  background-color: #f2f2f2;
}

.navigation-list .navigation-link:active {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
}

.navigation-user {
  max-width: 310px;
  padding: 0;
  margin-left: auto;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation-user-list .navigation-link {
  min-width: 44px;
  min-height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.favourites-icon {
  position: relative;
}

.favourites-icon::after {
  content: attr(data-count);
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 5px;
  right: 4px;
  top: 11px;
  border-radius: 50%;
  background-color: #7db54f;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.navigation-user-list .navigation-link:hover {
  background-color: #f2f2f2;
}

.navigation-user-list .navigation-link:focus {
  background-color: #f2f2f2;
}

.navigation-user-list .navigation-link:active {
  background-color: #e5e5e5;
  fill: rgba(0, 0, 0, 0.6);
}

.favourites-icon:active::after {
  background-color: rgba(125, 125, 125, 1);
}

.navigation-user .button-all {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  display: block;
  width: 160px;
  padding: 8px 34px;
  background: #756157;
  border-radius: 4px;
  margin-left: 20px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  padding-top: 51px;
  padding-bottom: 82px;

  background-color: #000000;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome img {
  object-fit: cover;
}

.welcome::after {
  content: "";
  position: absolute;
  background: url("../images/hero-decoration.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 57px;
  bottom: 0;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;

  margin: 0 auto;
}

.main-description {
  font-size: 22px;
  line-height: 26px;

  margin: 0 auto;
  margin-top: 20px;
}

.advantages .main-title {
  max-width: 620px;
}

.advantages .main-description {
  margin-top: 25px;
  max-width: 651px;
}

.advantages {
  margin-top: 69px;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-title::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 85px;
  right: 85px;
  bottom: -32px;
  background: rgba(0, 0, 0, 0.3);
}

.with-image .advantages-title::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
  min-width: 230px;
}

.advantages-list {
  list-style-type: none;

  margin: 0;
  margin-top: 90px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list .advantages-item {
  background-color: #83b3d333;
  width: 400px;
  min-height: 385px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-text {
  padding: 85px;
}

.advantages-list .with-image {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.with-image .advantages-text {
  align-self: center;
}

.with-image .advantages-title {
  color: inherit;
}

.advantages-image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.advantages-list .advantages-item:nth-of-type(even) {
  background-color: #83b3d31f;
}

.services {
  margin-top: 64px;
}

.services .main-title {
  max-width: 505px;
}

.services .main-description {
  max-width: 490px;
}

.services-list {
  list-style-type: none;

  margin: 0;
  margin-top: 64px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  min-height: 385px;
}

.services-content {
  padding: 81px 85px;
}

.services-list .services-item:nth-of-type(odd) {
  background-color: #83b3d31f;
}

.services-icon {
  display: block;
  margin: 0 auto;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 30px 0;
}

.services-description {
  margin: 0;
}

.hotel-search {
  padding: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-search .main-description {
  max-width: 592px;
}

.hotel-search .button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  display: block;
  padding: 8px 50px;
  width: 376px;
  background: #756157;
  border-radius: 4px;
  margin: 0;
  margin-top: 54px;
}

.main-index .subscribe {
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscribe {
  padding: 96px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe .main-title {
  color: inherit;
}

.subscribe .main-description {
  max-width: 474px;
}

.subscribe-form {
  margin: 0;
  margin-top: 54px;
  min-height: 52px;
  display: flex;
}

.subscribe-form input {
  display: block;
  width: 452px;
  padding: 14px 20px;
  border: 0;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-form input:hover {
  background-color: #e6e6e6;
}

.subscribe-form input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscribe-form input:not(:placeholder-shown) {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.button-subscribe {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;

  display: block;
  width: 232px;
  padding: 8px;
  background-color: #82b3d3;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.main-catalog .subscribe-catalog-title {
  color: #000000;
}

.subscribe-catalog-button {
  color: #ffffff;
}

.footer-container {
  display: flex;
  width: 100%;
  padding: 0 70px;
  margin: 40px auto 30px auto;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  width: 142px;
  padding: 0;
}

.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.social-list .button-social {
  min-width: 47px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contacts {
  min-width: 331px;
  max-width: 700px;
  margin: 0;
  padding: 0;
}

.footer-contacts .contacts-telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: inherit;
}

.footer-logo-htmlacademy {
  max-width: 150px;
  padding: 0;
}

.logo-htmlacademy {
  display: block;
}

.modal-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 52px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  text-align: left;
  margin-bottom: 64px;
}

.modal-window-form {
  text-align: left;
  color: #000000;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.field-group label {
  margin: auto 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.date-field {
  display: grid;
  grid-template-columns: 1fr 440px;
  grid-template-rows: 1fr minmax(21px, auto);
  row-gap: 4px;
  align-items: center;
}

.field-group input {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  padding-right: 60px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
  border-radius: 4px;
  background: #f2f2f2;

  background-image: url("../images/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.date-field input:hover {
  background-color: #e6e6e6;
}

.date-field input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.date-field input:not(:placeholder-shown) {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.message {
  padding-left: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  grid-column: 2/3;
}

.message-warning {
  color: #ff5757;
}

.human-field {
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.human-field .field {
  display: flex;
  gap: 46px;
  align-items: center;
}

.human-input-group {
  display: flex;
  gap: 0;
}

.human-input-group button {
  position: relative;
  padding: 0;
  width: 40px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.human-input-group input {
  width: 31px;
  padding: 14px 10px;
  background-image: none;
  border-radius: 0;
}

.human-input-group input::-webkit-outer-spin-button,
.human-input-group input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.human-input-group .button-plus {
  border-radius: 0 4px 4px 0;
}

.range-button .icon {
  fill: rgba(117, 97, 87, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.range-button:hover {
  cursor: pointer;
}

.range-button:hover .icon {
  fill: #000000;
}

.range-button:focus .icon {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
  fill: #000000;
}

.range-button:active .icon {
  outline: none;
  fill: rgba(117, 97, 87, 0.3);
}

.children-label-icon {
  position: relative;
  padding-right: 36px;
  margin: auto 0;
  text-align: left;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-button {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  top: -1px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  fill: #ffffff;
  transform: translate(-50%, -50%);
}

.tooltip-text {
  position: absolute;
  display: none;
  padding: 15px 22px;
  margin-top: 15px;
  width: 256px;
  min-height: 143px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #333333;
}

.tooltip-button:hover,
.tooltip-button:focus {
  background-color: #68a2ca;
  cursor: pointer;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.button-find {
  padding: 18px;
  margin-top: 48px;
  width: 100%;
  height: 60px;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 10px;
  background: #83b3d3;
}

.button-find:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button-find:focus {
  background-color: #68a2ca;
}

.button-find:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}


.modal-container-close {
  display: none;
}

.inner-header {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  text-align: left;

  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 70px;
  padding-top: 35px;
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

  margin: 0;
}

.breadcrumbs-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 8px auto 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  right: -18px;
  bottom: 5px;
  width: 8px;
  height: 11px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;

  display: block;
  min-width: 13px;
}

.breadcrumbs-link svg {
  fill: #ffffff;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus svg {
  fill: #ffffff;
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 16px;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-top: 16px;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  min-width: 100px;
  max-width: 155px;
  min-height: 160px;
}

.catalog-filter-group:first-of-type {
  margin-left: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  cursor: pointer;
}

.input-control:hover + .mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.input-control:hover ~ .text-control {
  color: rgba(255, 255, 255, 0.6);
}

.input-control:focus + .mark {
  background-color: rgba(255, 255, 255, 1);
  outline: 3px solid #83b3d3;
}

.input-control:focus ~ .text-control {
  color: rgba(255, 255, 255, 1);
}

.input-control:active + .mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.input-control:active ~ .text-control {
  color: rgba(255, 255, 255, 0.3);
}

.input-control[type="checkbox"]:checked + .checkbox-mark::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 6px;
  width: 13px;
  height: 10px;
  background-image: url("../images/checkbox-mark.svg");
  background-repeat: no-repeat;
}

.radio-mark {
  border-radius: 50%;
}

.input-control[type="radio"]:checked + .radio-mark::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.slider-group {
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  max-width: 288px;
  padding: 0;
}

.slider-group .catalog-filter-title {
  margin-bottom: 32px;
}

.price-inputs {
  display: flex;
  gap: 2px;
}

.price-label {
  position: relative;
}

.price-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 17px;
  height: 24px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-input {
  width: 143px;
  height: 48px;

  padding: 12px 20px;
  padding-right: 40px;

  background: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-input-maximum {
  border-radius: 0 4px 4px 0;
}

.price-input::placeholder {
  color: #000000;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.price-input:focus {
  outline: 3px solid #83b3d3;
}

.price-input:not(:placeholder-shown) {
  outline: 2px solid #000000;
}

.range-scale {
  position: relative;
  margin-top: 44px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.slider-handle {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  position: absolute;
}

.handle-minimum {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.handle-maximum {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider-handle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.slider-handle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.slider-handle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
}

.catalog-filter-buttons .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;

  width: 191px;
  min-height: 36px;
  border: 0;
  border-radius: 4px;
  background-color: #82b3d3;
  padding: 8px 50px;
}

.catalog-filter-buttons .button-reset {
  background-color: rgba(255, 255, 255, 0);
}

.sorting-container {
  display: flex;
  align-items: center;
  margin: 50px auto 40px auto;
  padding: 0 70px;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;

  min-width: 338px;
  margin-right: auto;
}

.hotels-sort select {
  width: 292px;
  height: 49px;
  padding: 12px 18px;
  padding-right: 50px;
  margin-right: 70px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: inherit;

  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.hotels-sort select:hover {
  border-color: #68a2ca;
  cursor: pointer;
}

.hotels-sort select:focus {
  border-color: #68a2ca;
}

.hotels-sort select:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.hotels-view {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  min-width: 160px;
  max-width: 216px;
  justify-content: flex-end;
}

.hotels-view .button {
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.hotels-view .view-current {
  border-color: #000000;
}

.hotels-view-grid {
  background-image: url("../images/view-hotel-grid.svg");
}

.hotels-view-card {
  background-image: url("../images/view-hotel-card.svg");
}

.hotels-view-list {
  background-image: url("../images/view-hotel-list.svg");
}

.hotel-cards-list {
  list-style-type: none;

  padding: 0 70px;
  padding-bottom: 40px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}

.hotel-cards-list::after {
  content: "";
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: -1px;
  height: 1px;
  background-color: #e6e6e6;
}

.hotel-cards-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  min-width: 0;
}

.hotel-about-link {
  text-decoration: none;
}

.hotel-about-link:hover .hotel-title {
  text-decoration: underline #000000;
}

.hotel-about-link:active .hotel-title {
  text-decoration: underline rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.hotel-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  margin: 16px 0;
}

.hotel-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 18px;
}

.price-type {
  text-align: left;
}

.price-value {
  text-align: right;
}

.hotel-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;

  display: block;
  width: 140px;
  padding: 8px;
  border-radius: 4px;
  background: #756157;
}

.hotel-to-favorites {
  background: #82b3d3;
}

.hotel-in-favorites {
  background: #7db54f;
}

.hotel-stars {
  display: flex;
  align-self: center;
}

.hotel-rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  display: block;
  width: 140px;
  padding: 9px 22px 8px 23px;
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 40px 70px 60px 70px;
  padding: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  display: block;
  min-width: 60px;
  max-width: 120px;
  min-height: 60px;
  height: 100%;
  padding: 10px;
  background: #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-more {
  background: #ffffff;
  color: #000000;
}

.button-all:hover {
  background: #615048;
}

.button-all:focus {
  background: #615048;
}

.button-all:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-all:disabled {
  background: #e5e5e5;
}

.button-subscribe:hover {
  background: #68a2ca;
  cursor: pointer;
}

.button-subscribe:focus {
  background: #68a2ca;
}

.button-subscribe:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background: #e5e5e5;
}

.social-icon {
  fill: #83b3d3;
}

.button-social:hover .social-icon {
  fill: #68a2ca;
}

.button-social:focus .social-icon {
  fill: #68a2ca;
}

.button-social:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-telephone:hover {
  color: #756157;
}

.contacts-telephone:focus {
  color: #756157;
}

.contacts-telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy:hover {
  fill: #756157;
}

.logo-htmlacademy:focus {
  fill: #756157;
}

.logo-htmlacademy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-filter-buttons .button-accept:hover {
  background: #68a2ca;
  cursor: pointer;
}

.catalog-filter-buttons .button-accept:focus {
  background: #68a2ca;
}

.catalog-filter-buttons .button-accept:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-buttons .button-accept:disabled {
  background: #e5e5e5;
}

.catalog-filter-buttons .button-reset:hover {
  opacity: 0.6;
  cursor: pointer;
}

.catalog-filter-buttons .button-reset:focus {
  outline: 3px solid #83b3d3;
}

.catalog-filter-buttons .button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.catalog-filter-buttons .button-reset:disabled {
  opacity: 0.1;
}

.hotels-view .button:hover {
  border-color: #000000;
}

.hotels-view .button:focus {
  border-color: #68a2ca;
}

.hotels-view .button:active {
  border-color: #000000;
}

.hotel-about:hover {
  background: #615048;
}

.hotel-about:focus {
  background: #615048;
}

.hotel-about:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-about:disabled {
  background: #e5e5e5;
}

.hotel-to-favorites:hover {
  background: #68a2ca;
  cursor: pointer;
}

.hotel-to-favorites:focus {
  background: #68a2ca;
}

.hotel-to-favorites:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-to-favorites:disabled {
  background: #e5e5e5;
}

.hotel-in-favorites:hover {
  background: #6c9e42;
  cursor: pointer;
}

.hotel-in-favorites:focus {
  background: #6c9e42;
}

.hotel-in-favorites:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-in-favorites:disabled {
  background: #e5e5e5;
}

.pagination-link:not(.pagination-current, .pagination-more):hover {
  background: #68a2ca;
}

.pagination-link:not(.pagination-current, .pagination-more):focus {
  background: #68a2ca;
}

.pagination-link:not(.pagination-current, .pagination-more):active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
